@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #f2ebe3;
  font-family: 'Fraunces', sans-serif;
  font-size: 14px;
  color: #6c7289;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

.main-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 94vh;
}

.main-page > div {
  display: flex;
  width: 600px;
}

.desktop-image {
  height: 100%;
  width: 300px;
  border-radius: 10px 0 0 10px;
}

.mobile-image {
  display: none;
}

.text-section {
  background: #ffffff;
  border-radius: 0 10px 10px 0;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: 'Fraunces', sans-serif;
}

.text-section > h1 {
  font-family: 'Fraunces', sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #1c232b;
}

.top-text {
  letter-spacing: 4px;
}

.text-section > p {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 500;
}

.text-section .price {
  display: flex;
  gap: 15px;
  align-items: center;
  color: #6c7289;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

.text-section .price > h2 {
  color: #3c8067;
  font-size: 30px;
  font-family: 'Fraunces', sans-serif;
}

.price span {
  text-decoration: line-through;
}

.text-section > button {
  padding: 12px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  gap: 5px;
  background: #3c8067;
  border-radius: 8px;
  border: none;
}

.footer {
  text-align: center;
}

@media screen and (max-width: 375px) {
  .main-page {
    flex-direction: column;
    justify-content: flex-start;
  }
  .main-page > div {
    flex-direction: column;
    height: auto;
    width: auto;
    padding: 0 20px;
  }
  
  .image-section {
    margin-top: 30px;
  }

  .image-section .desktop-image {
    display: none;
  }

  .image-section > .mobile-image {
    display: block;
    width: 100%;
    border-radius: 10px 10px 0 0
  }

  .text-section {
    border-radius: 0 0 10px 10px;
  }
}

